In [1]:
!pip install findspark
!pip install pyspark

Requirement already satisfied: findspark in c:\users\user\anaconda3\lib\site-packages (1.4.2)

WARNING: You are using pip version 21.2.4; however, version 21.3.1 is available.
You should consider upgrading via the 'c:\users\user\anaconda3\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: pyspark in c:\users\user\anaconda3\lib\site-packages (3.1.2)
Requirement already satisfied: py4j==0.10.9 in c:\users\user\anaconda3\lib\site-packages (from pyspark) (0.10.9)

WARNING: You are using pip version 21.2.4; however, version 21.3.1 is available.
You should consider upgrading via the 'c:\users\user\anaconda3\python.exe -m pip install --upgrade pip' command.

In [2]:
import findspark
findspark.init()

In [3]:
from pyspark import SparkContext
from pyspark import SparkConf

In [4]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [5]:
spark

In [6]:
## read the dataset
df_pyspark = spark.read.csv('./sample_dataset.csv', header=True, inferSchema=True)
df_pyspark.show()

+---------+-----------+---------------+----------+--------+-----------+-----+---------+--------------------+--------------+----------+
|loan_amnt|funded_amnt|funded_amnt_inv|      term|int_rate|installment|grade|sub_grade|           emp_title|home_ownership|annual_inc|
+---------+-----------+---------------+----------+--------+-----------+-----+---------+--------------------+--------------+----------+
|     2500|       2500|         2500.0| 36 months|   13.56|      84.92|    C|       C1|                Chef|          RENT|   55000.0|
|    30000|      30000|        30000.0| 60 months|   18.94|     777.23|    D|       D2|         Postmaster |      MORTGAGE|   90000.0|
|     5000|       5000|         5000.0| 36 months|   17.97|     180.69|    D|       D1|      Administrative|      MORTGAGE|   59280.0|
|     4000|       4000|         4000.0| 36 months|   18.94|     146.51|    D|       D2|       IT Supervisor|      MORTGAGE|   92000.0|
|    30000|      30000|        30000.0| 60 months|   16.14|     731.78|    C|       C4|            Mechanic|      MORTGAGE|   57250.0|
|     5550|       5550|         5550.0| 36 months|   15.02|     192.45|    C|       C3|        Director COE|      MORTGAGE|  152500.0|
|     2000|       2000|         2000.0| 36 months|   17.97|      72.28|    D|       D1|     Account Manager|          RENT|   51000.0|
|     6000|       6000|         6000.0| 36 months|   13.56|     203.79|    C|       C1|  Assistant Director|          RENT|   65000.0|
|     5000|       5000|         5000.0| 36 months|   17.97|     180.69|    D|       D1| Legal Assistant III|      MORTGAGE|   53580.0|
|     6000|       6000|         6000.0| 36 months|   14.47|     206.44|    C|       C2|                null|           OWN|  300000.0|
|     5500|       5500|         5500.0| 36 months|   22.35|     211.05|    D|       D5|                null|      MORTGAGE|   50000.0|
|    28000|      28000|        28000.0| 60 months|   11.31|     613.13|    B|       B3|          Consultant|      MORTGAGE|   70000.0|
|    11200|      11200|        11200.0| 36 months|    8.19|     351.95|    A|       A4|Job Coach Supervisor|      MORTGAGE|   65000.0|
|     6500|       6500|         6500.0| 36 months|   17.97|      234.9|    D|       D1|Quality Field Eng...|      MORTGAGE|  154000.0|
|    22000|      22000|        22000.0| 60 months|   12.98|     500.35|    B|       B5|             Teller |      MORTGAGE|   65000.0|
|     3500|       3500|         3500.0| 36 months|   16.14|      123.3|    C|       C4|respritory therapist|      MORTGAGE|   80000.0|
|     7000|       7000|         7000.0| 36 months|   12.98|      235.8|    B|       B5|    Worship Director|      MORTGAGE|  102500.0|
|    25000|      25000|        25000.0| 60 months|   16.91|     620.11|    C|       C5|          Processor |      MORTGAGE|   23878.0|
|    16000|      16000|        16000.0| 60 months|   20.89|     431.87|    D|       D4|Neonatal Nurse Pr...|      MORTGAGE|  120000.0|
|    13000|      13000|        13000.0| 60 months|   14.47|     305.67|    C|       C2| Stationary Engineer|      MORTGAGE|   75000.0|
+---------+-----------+---------------+----------+--------+-----------+-----+---------+--------------------+--------------+----------+
only showing top 20 rows

In [7]:
df_pyspark.describe(['funded_amnt', 'term','int_rate','grade']).show()

+-------+------------------+----------+------------------+------+
|summary|       funded_amnt|      term|          int_rate| grade|
+-------+------------------+----------+------------------+------+
|  count|            199999|    199999|            199999|199999|
|   mean|16039.883574417872|      null|12.914750623752234|  null|
| stddev|10125.835675059183|      null| 5.181549857935966|  null|
|    min|              1000| 36 months|               6.0|     A|
|    max|             40000| 60 months|             30.99|     G|
+-------+------------------+----------+------------------+------+

In [8]:
## Check the schema
df_pyspark.printSchema()

root
 |-- loan_amnt: integer (nullable = true)
 |-- funded_amnt: integer (nullable = true)
 |-- funded_amnt_inv: double (nullable = true)
 |-- term: string (nullable = true)
 |-- int_rate: double (nullable = true)
 |-- installment: double (nullable = true)
 |-- grade: string (nullable = true)
 |-- sub_grade: string (nullable = true)
 |-- emp_title: string (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- annual_inc: double (nullable = true)

In [9]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [10]:
df_pyspark.show(10)

+---------+-----------+---------------+----------+--------+-----------+-----+---------+-------------------+--------------+----------+
|loan_amnt|funded_amnt|funded_amnt_inv|      term|int_rate|installment|grade|sub_grade|          emp_title|home_ownership|annual_inc|
+---------+-----------+---------------+----------+--------+-----------+-----+---------+-------------------+--------------+----------+
|     2500|       2500|         2500.0| 36 months|   13.56|      84.92|    C|       C1|               Chef|          RENT|   55000.0|
|    30000|      30000|        30000.0| 60 months|   18.94|     777.23|    D|       D2|        Postmaster |      MORTGAGE|   90000.0|
|     5000|       5000|         5000.0| 36 months|   17.97|     180.69|    D|       D1|     Administrative|      MORTGAGE|   59280.0|
|     4000|       4000|         4000.0| 36 months|   18.94|     146.51|    D|       D2|      IT Supervisor|      MORTGAGE|   92000.0|
|    30000|      30000|        30000.0| 60 months|   16.14|     731.78|    C|       C4|           Mechanic|      MORTGAGE|   57250.0|
|     5550|       5550|         5550.0| 36 months|   15.02|     192.45|    C|       C3|       Director COE|      MORTGAGE|  152500.0|
|     2000|       2000|         2000.0| 36 months|   17.97|      72.28|    D|       D1|    Account Manager|          RENT|   51000.0|
|     6000|       6000|         6000.0| 36 months|   13.56|     203.79|    C|       C1| Assistant Director|          RENT|   65000.0|
|     5000|       5000|         5000.0| 36 months|   17.97|     180.69|    D|       D1|Legal Assistant III|      MORTGAGE|   53580.0|
|     6000|       6000|         6000.0| 36 months|   14.47|     206.44|    C|       C2|               null|           OWN|  300000.0|
+---------+-----------+---------------+----------+--------+-----------+-----+---------+-------------------+--------------+----------+
only showing top 10 rows

In [11]:
df_pyspark.select('loan_amnt').show()

+---------+
|loan_amnt|
+---------+
|     2500|
|    30000|
|     5000|
|     4000|
|    30000|
|     5550|
|     2000|
|     6000|
|     5000|
|     6000|
|     5500|
|    28000|
|    11200|
|     6500|
|    22000|
|     3500|
|     7000|
|    25000|
|    16000|
|    13000|
+---------+
only showing top 20 rows

In [12]:
type(df_pyspark.select('loan_amnt'))

pyspark.sql.dataframe.DataFrame

In [13]:
df_pyspark.select(['loan_amnt', 'funded_amnt']).show()

+---------+-----------+
|loan_amnt|funded_amnt|
+---------+-----------+
|     2500|       2500|
|    30000|      30000|
|     5000|       5000|
|     4000|       4000|
|    30000|      30000|
|     5550|       5550|
|     2000|       2000|
|     6000|       6000|
|     5000|       5000|
|     6000|       6000|
|     5500|       5500|
|    28000|      28000|
|    11200|      11200|
|     6500|       6500|
|    22000|      22000|
|     3500|       3500|
|     7000|       7000|
|    25000|      25000|
|    16000|      16000|
|    13000|      13000|
+---------+-----------+
only showing top 20 rows

In [14]:
df_pyspark['loan_amnt']

Column<'loan_amnt'>

In [15]:
df_pyspark.dtypes

[('loan_amnt', 'int'),
 ('funded_amnt', 'int'),
 ('funded_amnt_inv', 'double'),
 ('term', 'string'),
 ('int_rate', 'double'),
 ('installment', 'double'),
 ('grade', 'string'),
 ('sub_grade', 'string'),
 ('emp_title', 'string'),
 ('home_ownership', 'string'),
 ('annual_inc', 'double')]

In [16]:
df_pyspark.describe()

DataFrame[summary: string, loan_amnt: string, funded_amnt: string, funded_amnt_inv: string, term: string, int_rate: string, installment: string, grade: string, sub_grade: string, emp_title: string, home_ownership: string, annual_inc: string]

In [17]:
### Adding Columns in data
df_pyspark.withColumn('Experience After 2 year', df_pyspark['loan_amnt']+1)

DataFrame[loan_amnt: int, funded_amnt: int, funded_amnt_inv: double, term: string, int_rate: double, installment: double, grade: string, sub_grade: string, emp_title: string, home_ownership: string, annual_inc: double, Experience After 2 year: int]

In [18]:
### Rename the columns
df_pyspark.withColumnRenamed('id', 'New ID').show()

+---------+-----------+---------------+----------+--------+-----------+-----+---------+--------------------+--------------+----------+
|loan_amnt|funded_amnt|funded_amnt_inv|      term|int_rate|installment|grade|sub_grade|           emp_title|home_ownership|annual_inc|
+---------+-----------+---------------+----------+--------+-----------+-----+---------+--------------------+--------------+----------+
|     2500|       2500|         2500.0| 36 months|   13.56|      84.92|    C|       C1|                Chef|          RENT|   55000.0|
|    30000|      30000|        30000.0| 60 months|   18.94|     777.23|    D|       D2|         Postmaster |      MORTGAGE|   90000.0|
|     5000|       5000|         5000.0| 36 months|   17.97|     180.69|    D|       D1|      Administrative|      MORTGAGE|   59280.0|
|     4000|       4000|         4000.0| 36 months|   18.94|     146.51|    D|       D2|       IT Supervisor|      MORTGAGE|   92000.0|
|    30000|      30000|        30000.0| 60 months|   16.14|     731.78|    C|       C4|            Mechanic|      MORTGAGE|   57250.0|
|     5550|       5550|         5550.0| 36 months|   15.02|     192.45|    C|       C3|        Director COE|      MORTGAGE|  152500.0|
|     2000|       2000|         2000.0| 36 months|   17.97|      72.28|    D|       D1|     Account Manager|          RENT|   51000.0|
|     6000|       6000|         6000.0| 36 months|   13.56|     203.79|    C|       C1|  Assistant Director|          RENT|   65000.0|
|     5000|       5000|         5000.0| 36 months|   17.97|     180.69|    D|       D1| Legal Assistant III|      MORTGAGE|   53580.0|
|     6000|       6000|         6000.0| 36 months|   14.47|     206.44|    C|       C2|                null|           OWN|  300000.0|
|     5500|       5500|         5500.0| 36 months|   22.35|     211.05|    D|       D5|                null|      MORTGAGE|   50000.0|
|    28000|      28000|        28000.0| 60 months|   11.31|     613.13|    B|       B3|          Consultant|      MORTGAGE|   70000.0|
|    11200|      11200|        11200.0| 36 months|    8.19|     351.95|    A|       A4|Job Coach Supervisor|      MORTGAGE|   65000.0|
|     6500|       6500|         6500.0| 36 months|   17.97|      234.9|    D|       D1|Quality Field Eng...|      MORTGAGE|  154000.0|
|    22000|      22000|        22000.0| 60 months|   12.98|     500.35|    B|       B5|             Teller |      MORTGAGE|   65000.0|
|     3500|       3500|         3500.0| 36 months|   16.14|      123.3|    C|       C4|respritory therapist|      MORTGAGE|   80000.0|
|     7000|       7000|         7000.0| 36 months|   12.98|      235.8|    B|       B5|    Worship Director|      MORTGAGE|  102500.0|
|    25000|      25000|        25000.0| 60 months|   16.91|     620.11|    C|       C5|          Processor |      MORTGAGE|   23878.0|
|    16000|      16000|        16000.0| 60 months|   20.89|     431.87|    D|       D4|Neonatal Nurse Pr...|      MORTGAGE|  120000.0|
|    13000|      13000|        13000.0| 60 months|   14.47|     305.67|    C|       C2| Stationary Engineer|      MORTGAGE|   75000.0|
+---------+-----------+---------------+----------+--------+-----------+-----+---------+--------------------+--------------+----------+
only showing top 20 rows

In [19]:
df_pyspark.show()

+---------+-----------+---------------+----------+--------+-----------+-----+---------+--------------------+--------------+----------+
|loan_amnt|funded_amnt|funded_amnt_inv|      term|int_rate|installment|grade|sub_grade|           emp_title|home_ownership|annual_inc|
+---------+-----------+---------------+----------+--------+-----------+-----+---------+--------------------+--------------+----------+
|     2500|       2500|         2500.0| 36 months|   13.56|      84.92|    C|       C1|                Chef|          RENT|   55000.0|
|    30000|      30000|        30000.0| 60 months|   18.94|     777.23|    D|       D2|         Postmaster |      MORTGAGE|   90000.0|
|     5000|       5000|         5000.0| 36 months|   17.97|     180.69|    D|       D1|      Administrative|      MORTGAGE|   59280.0|
|     4000|       4000|         4000.0| 36 months|   18.94|     146.51|    D|       D2|       IT Supervisor|      MORTGAGE|   92000.0|
|    30000|      30000|        30000.0| 60 months|   16.14|     731.78|    C|       C4|            Mechanic|      MORTGAGE|   57250.0|
|     5550|       5550|         5550.0| 36 months|   15.02|     192.45|    C|       C3|        Director COE|      MORTGAGE|  152500.0|
|     2000|       2000|         2000.0| 36 months|   17.97|      72.28|    D|       D1|     Account Manager|          RENT|   51000.0|
|     6000|       6000|         6000.0| 36 months|   13.56|     203.79|    C|       C1|  Assistant Director|          RENT|   65000.0|
|     5000|       5000|         5000.0| 36 months|   17.97|     180.69|    D|       D1| Legal Assistant III|      MORTGAGE|   53580.0|
|     6000|       6000|         6000.0| 36 months|   14.47|     206.44|    C|       C2|                null|           OWN|  300000.0|
|     5500|       5500|         5500.0| 36 months|   22.35|     211.05|    D|       D5|                null|      MORTGAGE|   50000.0|
|    28000|      28000|        28000.0| 60 months|   11.31|     613.13|    B|       B3|          Consultant|      MORTGAGE|   70000.0|
|    11200|      11200|        11200.0| 36 months|    8.19|     351.95|    A|       A4|Job Coach Supervisor|      MORTGAGE|   65000.0|
|     6500|       6500|         6500.0| 36 months|   17.97|      234.9|    D|       D1|Quality Field Eng...|      MORTGAGE|  154000.0|
|    22000|      22000|        22000.0| 60 months|   12.98|     500.35|    B|       B5|             Teller |      MORTGAGE|   65000.0|
|     3500|       3500|         3500.0| 36 months|   16.14|      123.3|    C|       C4|respritory therapist|      MORTGAGE|   80000.0|
|     7000|       7000|         7000.0| 36 months|   12.98|      235.8|    B|       B5|    Worship Director|      MORTGAGE|  102500.0|
|    25000|      25000|        25000.0| 60 months|   16.91|     620.11|    C|       C5|          Processor |      MORTGAGE|   23878.0|
|    16000|      16000|        16000.0| 60 months|   20.89|     431.87|    D|       D4|Neonatal Nurse Pr...|      MORTGAGE|  120000.0|
|    13000|      13000|        13000.0| 60 months|   14.47|     305.67|    C|       C2| Stationary Engineer|      MORTGAGE|   75000.0|
+---------+-----------+---------------+----------+--------+-----------+-----+---------+--------------------+--------------+----------+
only showing top 20 rows

In [20]:
### Drop the columns
df_pyspark.drop('annual_inc').show()

+---------+-----------+---------------+----------+--------+-----------+-----+---------+--------------------+--------------+
|loan_amnt|funded_amnt|funded_amnt_inv|      term|int_rate|installment|grade|sub_grade|           emp_title|home_ownership|
+---------+-----------+---------------+----------+--------+-----------+-----+---------+--------------------+--------------+
|     2500|       2500|         2500.0| 36 months|   13.56|      84.92|    C|       C1|                Chef|          RENT|
|    30000|      30000|        30000.0| 60 months|   18.94|     777.23|    D|       D2|         Postmaster |      MORTGAGE|
|     5000|       5000|         5000.0| 36 months|   17.97|     180.69|    D|       D1|      Administrative|      MORTGAGE|
|     4000|       4000|         4000.0| 36 months|   18.94|     146.51|    D|       D2|       IT Supervisor|      MORTGAGE|
|    30000|      30000|        30000.0| 60 months|   16.14|     731.78|    C|       C4|            Mechanic|      MORTGAGE|
|     5550|       5550|         5550.0| 36 months|   15.02|     192.45|    C|       C3|        Director COE|      MORTGAGE|
|     2000|       2000|         2000.0| 36 months|   17.97|      72.28|    D|       D1|     Account Manager|          RENT|
|     6000|       6000|         6000.0| 36 months|   13.56|     203.79|    C|       C1|  Assistant Director|          RENT|
|     5000|       5000|         5000.0| 36 months|   17.97|     180.69|    D|       D1| Legal Assistant III|      MORTGAGE|
|     6000|       6000|         6000.0| 36 months|   14.47|     206.44|    C|       C2|                null|           OWN|
|     5500|       5500|         5500.0| 36 months|   22.35|     211.05|    D|       D5|                null|      MORTGAGE|
|    28000|      28000|        28000.0| 60 months|   11.31|     613.13|    B|       B3|          Consultant|      MORTGAGE|
|    11200|      11200|        11200.0| 36 months|    8.19|     351.95|    A|       A4|Job Coach Supervisor|      MORTGAGE|
|     6500|       6500|         6500.0| 36 months|   17.97|      234.9|    D|       D1|Quality Field Eng...|      MORTGAGE|
|    22000|      22000|        22000.0| 60 months|   12.98|     500.35|    B|       B5|             Teller |      MORTGAGE|
|     3500|       3500|         3500.0| 36 months|   16.14|      123.3|    C|       C4|respritory therapist|      MORTGAGE|
|     7000|       7000|         7000.0| 36 months|   12.98|      235.8|    B|       B5|    Worship Director|      MORTGAGE|
|    25000|      25000|        25000.0| 60 months|   16.91|     620.11|    C|       C5|          Processor |      MORTGAGE|
|    16000|      16000|        16000.0| 60 months|   20.89|     431.87|    D|       D4|Neonatal Nurse Pr...|      MORTGAGE|
|    13000|      13000|        13000.0| 60 months|   14.47|     305.67|    C|       C2| Stationary Engineer|      MORTGAGE|
+---------+-----------+---------------+----------+--------+-----------+-----+---------+--------------------+--------------+
only showing top 20 rows

In [21]:
### how == all : 전체가 row가 null인 경우 제외하고 보기
df_pyspark.na.drop(how="all").show()

+---------+-----------+---------------+----------+--------+-----------+-----+---------+--------------------+--------------+----------+
|loan_amnt|funded_amnt|funded_amnt_inv|      term|int_rate|installment|grade|sub_grade|           emp_title|home_ownership|annual_inc|
+---------+-----------+---------------+----------+--------+-----------+-----+---------+--------------------+--------------+----------+
|     2500|       2500|         2500.0| 36 months|   13.56|      84.92|    C|       C1|                Chef|          RENT|   55000.0|
|    30000|      30000|        30000.0| 60 months|   18.94|     777.23|    D|       D2|         Postmaster |      MORTGAGE|   90000.0|
|     5000|       5000|         5000.0| 36 months|   17.97|     180.69|    D|       D1|      Administrative|      MORTGAGE|   59280.0|
|     4000|       4000|         4000.0| 36 months|   18.94|     146.51|    D|       D2|       IT Supervisor|      MORTGAGE|   92000.0|
|    30000|      30000|        30000.0| 60 months|   16.14|     731.78|    C|       C4|            Mechanic|      MORTGAGE|   57250.0|
|     5550|       5550|         5550.0| 36 months|   15.02|     192.45|    C|       C3|        Director COE|      MORTGAGE|  152500.0|
|     2000|       2000|         2000.0| 36 months|   17.97|      72.28|    D|       D1|     Account Manager|          RENT|   51000.0|
|     6000|       6000|         6000.0| 36 months|   13.56|     203.79|    C|       C1|  Assistant Director|          RENT|   65000.0|
|     5000|       5000|         5000.0| 36 months|   17.97|     180.69|    D|       D1| Legal Assistant III|      MORTGAGE|   53580.0|
|     6000|       6000|         6000.0| 36 months|   14.47|     206.44|    C|       C2|                null|           OWN|  300000.0|
|     5500|       5500|         5500.0| 36 months|   22.35|     211.05|    D|       D5|                null|      MORTGAGE|   50000.0|
|    28000|      28000|        28000.0| 60 months|   11.31|     613.13|    B|       B3|          Consultant|      MORTGAGE|   70000.0|
|    11200|      11200|        11200.0| 36 months|    8.19|     351.95|    A|       A4|Job Coach Supervisor|      MORTGAGE|   65000.0|
|     6500|       6500|         6500.0| 36 months|   17.97|      234.9|    D|       D1|Quality Field Eng...|      MORTGAGE|  154000.0|
|    22000|      22000|        22000.0| 60 months|   12.98|     500.35|    B|       B5|             Teller |      MORTGAGE|   65000.0|
|     3500|       3500|         3500.0| 36 months|   16.14|      123.3|    C|       C4|respritory therapist|      MORTGAGE|   80000.0|
|     7000|       7000|         7000.0| 36 months|   12.98|      235.8|    B|       B5|    Worship Director|      MORTGAGE|  102500.0|
|    25000|      25000|        25000.0| 60 months|   16.91|     620.11|    C|       C5|          Processor |      MORTGAGE|   23878.0|
|    16000|      16000|        16000.0| 60 months|   20.89|     431.87|    D|       D4|Neonatal Nurse Pr...|      MORTGAGE|  120000.0|
|    13000|      13000|        13000.0| 60 months|   14.47|     305.67|    C|       C2| Stationary Engineer|      MORTGAGE|   75000.0|
+---------+-----------+---------------+----------+--------+-----------+-----+---------+--------------------+--------------+----------+
only showing top 20 rows

In [22]:
### any == how : row 요소가 하나라도 null인 경우 제외하고 보기
df_pyspark.na.drop(how="any").show()

+---------+-----------+---------------+----------+--------+-----------+-----+---------+--------------------+--------------+----------+
|loan_amnt|funded_amnt|funded_amnt_inv|      term|int_rate|installment|grade|sub_grade|           emp_title|home_ownership|annual_inc|
+---------+-----------+---------------+----------+--------+-----------+-----+---------+--------------------+--------------+----------+
|     2500|       2500|         2500.0| 36 months|   13.56|      84.92|    C|       C1|                Chef|          RENT|   55000.0|
|    30000|      30000|        30000.0| 60 months|   18.94|     777.23|    D|       D2|         Postmaster |      MORTGAGE|   90000.0|
|     5000|       5000|         5000.0| 36 months|   17.97|     180.69|    D|       D1|      Administrative|      MORTGAGE|   59280.0|
|     4000|       4000|         4000.0| 36 months|   18.94|     146.51|    D|       D2|       IT Supervisor|      MORTGAGE|   92000.0|
|    30000|      30000|        30000.0| 60 months|   16.14|     731.78|    C|       C4|            Mechanic|      MORTGAGE|   57250.0|
|     5550|       5550|         5550.0| 36 months|   15.02|     192.45|    C|       C3|        Director COE|      MORTGAGE|  152500.0|
|     2000|       2000|         2000.0| 36 months|   17.97|      72.28|    D|       D1|     Account Manager|          RENT|   51000.0|
|     6000|       6000|         6000.0| 36 months|   13.56|     203.79|    C|       C1|  Assistant Director|          RENT|   65000.0|
|     5000|       5000|         5000.0| 36 months|   17.97|     180.69|    D|       D1| Legal Assistant III|      MORTGAGE|   53580.0|
|    28000|      28000|        28000.0| 60 months|   11.31|     613.13|    B|       B3|          Consultant|      MORTGAGE|   70000.0|
|    11200|      11200|        11200.0| 36 months|    8.19|     351.95|    A|       A4|Job Coach Supervisor|      MORTGAGE|   65000.0|
|     6500|       6500|         6500.0| 36 months|   17.97|      234.9|    D|       D1|Quality Field Eng...|      MORTGAGE|  154000.0|
|    22000|      22000|        22000.0| 60 months|   12.98|     500.35|    B|       B5|             Teller |      MORTGAGE|   65000.0|
|     3500|       3500|         3500.0| 36 months|   16.14|      123.3|    C|       C4|respritory therapist|      MORTGAGE|   80000.0|
|     7000|       7000|         7000.0| 36 months|   12.98|      235.8|    B|       B5|    Worship Director|      MORTGAGE|  102500.0|
|    25000|      25000|        25000.0| 60 months|   16.91|     620.11|    C|       C5|          Processor |      MORTGAGE|   23878.0|
|    16000|      16000|        16000.0| 60 months|   20.89|     431.87|    D|       D4|Neonatal Nurse Pr...|      MORTGAGE|  120000.0|
|    13000|      13000|        13000.0| 60 months|   14.47|     305.67|    C|       C2| Stationary Engineer|      MORTGAGE|   75000.0|
|    13000|      13000|        13000.0| 36 months|   14.47|     447.29|    C|       C2|   Exhibits director|      MORTGAGE|   55000.0|
|     9600|       9600|         9600.0| 36 months|    23.4|     373.62|    E|       E1| driver coordinator |          RENT|   65000.0|
+---------+-----------+---------------+----------+--------+-----------+-----+---------+--------------------+--------------+----------+
only showing top 20 rows

In [23]:
### threshold
df_pyspark.na.drop(how="any", thresh=2).show()

+---------+-----------+---------------+----------+--------+-----------+-----+---------+--------------------+--------------+----------+
|loan_amnt|funded_amnt|funded_amnt_inv|      term|int_rate|installment|grade|sub_grade|           emp_title|home_ownership|annual_inc|
+---------+-----------+---------------+----------+--------+-----------+-----+---------+--------------------+--------------+----------+
|     2500|       2500|         2500.0| 36 months|   13.56|      84.92|    C|       C1|                Chef|          RENT|   55000.0|
|    30000|      30000|        30000.0| 60 months|   18.94|     777.23|    D|       D2|         Postmaster |      MORTGAGE|   90000.0|
|     5000|       5000|         5000.0| 36 months|   17.97|     180.69|    D|       D1|      Administrative|      MORTGAGE|   59280.0|
|     4000|       4000|         4000.0| 36 months|   18.94|     146.51|    D|       D2|       IT Supervisor|      MORTGAGE|   92000.0|
|    30000|      30000|        30000.0| 60 months|   16.14|     731.78|    C|       C4|            Mechanic|      MORTGAGE|   57250.0|
|     5550|       5550|         5550.0| 36 months|   15.02|     192.45|    C|       C3|        Director COE|      MORTGAGE|  152500.0|
|     2000|       2000|         2000.0| 36 months|   17.97|      72.28|    D|       D1|     Account Manager|          RENT|   51000.0|
|     6000|       6000|         6000.0| 36 months|   13.56|     203.79|    C|       C1|  Assistant Director|          RENT|   65000.0|
|     5000|       5000|         5000.0| 36 months|   17.97|     180.69|    D|       D1| Legal Assistant III|      MORTGAGE|   53580.0|
|     6000|       6000|         6000.0| 36 months|   14.47|     206.44|    C|       C2|                null|           OWN|  300000.0|
|     5500|       5500|         5500.0| 36 months|   22.35|     211.05|    D|       D5|                null|      MORTGAGE|   50000.0|
|    28000|      28000|        28000.0| 60 months|   11.31|     613.13|    B|       B3|          Consultant|      MORTGAGE|   70000.0|
|    11200|      11200|        11200.0| 36 months|    8.19|     351.95|    A|       A4|Job Coach Supervisor|      MORTGAGE|   65000.0|
|     6500|       6500|         6500.0| 36 months|   17.97|      234.9|    D|       D1|Quality Field Eng...|      MORTGAGE|  154000.0|
|    22000|      22000|        22000.0| 60 months|   12.98|     500.35|    B|       B5|             Teller |      MORTGAGE|   65000.0|
|     3500|       3500|         3500.0| 36 months|   16.14|      123.3|    C|       C4|respritory therapist|      MORTGAGE|   80000.0|
|     7000|       7000|         7000.0| 36 months|   12.98|      235.8|    B|       B5|    Worship Director|      MORTGAGE|  102500.0|
|    25000|      25000|        25000.0| 60 months|   16.91|     620.11|    C|       C5|          Processor |      MORTGAGE|   23878.0|
|    16000|      16000|        16000.0| 60 months|   20.89|     431.87|    D|       D4|Neonatal Nurse Pr...|      MORTGAGE|  120000.0|
|    13000|      13000|        13000.0| 60 months|   14.47|     305.67|    C|       C2| Stationary Engineer|      MORTGAGE|   75000.0|
+---------+-----------+---------------+----------+--------+-----------+-----+---------+--------------------+--------------+----------+
only showing top 20 rows

In [24]:
### Subset
df_pyspark.na.drop(how="any", subset=['emp_title']).show()

+---------+-----------+---------------+----------+--------+-----------+-----+---------+--------------------+--------------+----------+
|loan_amnt|funded_amnt|funded_amnt_inv|      term|int_rate|installment|grade|sub_grade|           emp_title|home_ownership|annual_inc|
+---------+-----------+---------------+----------+--------+-----------+-----+---------+--------------------+--------------+----------+
|     2500|       2500|         2500.0| 36 months|   13.56|      84.92|    C|       C1|                Chef|          RENT|   55000.0|
|    30000|      30000|        30000.0| 60 months|   18.94|     777.23|    D|       D2|         Postmaster |      MORTGAGE|   90000.0|
|     5000|       5000|         5000.0| 36 months|   17.97|     180.69|    D|       D1|      Administrative|      MORTGAGE|   59280.0|
|     4000|       4000|         4000.0| 36 months|   18.94|     146.51|    D|       D2|       IT Supervisor|      MORTGAGE|   92000.0|
|    30000|      30000|        30000.0| 60 months|   16.14|     731.78|    C|       C4|            Mechanic|      MORTGAGE|   57250.0|
|     5550|       5550|         5550.0| 36 months|   15.02|     192.45|    C|       C3|        Director COE|      MORTGAGE|  152500.0|
|     2000|       2000|         2000.0| 36 months|   17.97|      72.28|    D|       D1|     Account Manager|          RENT|   51000.0|
|     6000|       6000|         6000.0| 36 months|   13.56|     203.79|    C|       C1|  Assistant Director|          RENT|   65000.0|
|     5000|       5000|         5000.0| 36 months|   17.97|     180.69|    D|       D1| Legal Assistant III|      MORTGAGE|   53580.0|
|    28000|      28000|        28000.0| 60 months|   11.31|     613.13|    B|       B3|          Consultant|      MORTGAGE|   70000.0|
|    11200|      11200|        11200.0| 36 months|    8.19|     351.95|    A|       A4|Job Coach Supervisor|      MORTGAGE|   65000.0|
|     6500|       6500|         6500.0| 36 months|   17.97|      234.9|    D|       D1|Quality Field Eng...|      MORTGAGE|  154000.0|
|    22000|      22000|        22000.0| 60 months|   12.98|     500.35|    B|       B5|             Teller |      MORTGAGE|   65000.0|
|     3500|       3500|         3500.0| 36 months|   16.14|      123.3|    C|       C4|respritory therapist|      MORTGAGE|   80000.0|
|     7000|       7000|         7000.0| 36 months|   12.98|      235.8|    B|       B5|    Worship Director|      MORTGAGE|  102500.0|
|    25000|      25000|        25000.0| 60 months|   16.91|     620.11|    C|       C5|          Processor |      MORTGAGE|   23878.0|
|    16000|      16000|        16000.0| 60 months|   20.89|     431.87|    D|       D4|Neonatal Nurse Pr...|      MORTGAGE|  120000.0|
|    13000|      13000|        13000.0| 60 months|   14.47|     305.67|    C|       C2| Stationary Engineer|      MORTGAGE|   75000.0|
|    13000|      13000|        13000.0| 36 months|   14.47|     447.29|    C|       C2|   Exhibits director|      MORTGAGE|   55000.0|
|     9600|       9600|         9600.0| 36 months|    23.4|     373.62|    E|       E1| driver coordinator |          RENT|   65000.0|
+---------+-----------+---------------+----------+--------+-----------+-----+---------+--------------------+--------------+----------+
only showing top 20 rows

In [25]:
### Filling the Missing Value
df_pyspark.na.fill('Missing Values', subset=['emp_title', 'grade']).show()

+---------+-----------+---------------+----------+--------+-----------+-----+---------+--------------------+--------------+----------+
|loan_amnt|funded_amnt|funded_amnt_inv|      term|int_rate|installment|grade|sub_grade|           emp_title|home_ownership|annual_inc|
+---------+-----------+---------------+----------+--------+-----------+-----+---------+--------------------+--------------+----------+
|     2500|       2500|         2500.0| 36 months|   13.56|      84.92|    C|       C1|                Chef|          RENT|   55000.0|
|    30000|      30000|        30000.0| 60 months|   18.94|     777.23|    D|       D2|         Postmaster |      MORTGAGE|   90000.0|
|     5000|       5000|         5000.0| 36 months|   17.97|     180.69|    D|       D1|      Administrative|      MORTGAGE|   59280.0|
|     4000|       4000|         4000.0| 36 months|   18.94|     146.51|    D|       D2|       IT Supervisor|      MORTGAGE|   92000.0|
|    30000|      30000|        30000.0| 60 months|   16.14|     731.78|    C|       C4|            Mechanic|      MORTGAGE|   57250.0|
|     5550|       5550|         5550.0| 36 months|   15.02|     192.45|    C|       C3|        Director COE|      MORTGAGE|  152500.0|
|     2000|       2000|         2000.0| 36 months|   17.97|      72.28|    D|       D1|     Account Manager|          RENT|   51000.0|
|     6000|       6000|         6000.0| 36 months|   13.56|     203.79|    C|       C1|  Assistant Director|          RENT|   65000.0|
|     5000|       5000|         5000.0| 36 months|   17.97|     180.69|    D|       D1| Legal Assistant III|      MORTGAGE|   53580.0|
|     6000|       6000|         6000.0| 36 months|   14.47|     206.44|    C|       C2|      Missing Values|           OWN|  300000.0|
|     5500|       5500|         5500.0| 36 months|   22.35|     211.05|    D|       D5|      Missing Values|      MORTGAGE|   50000.0|
|    28000|      28000|        28000.0| 60 months|   11.31|     613.13|    B|       B3|          Consultant|      MORTGAGE|   70000.0|
|    11200|      11200|        11200.0| 36 months|    8.19|     351.95|    A|       A4|Job Coach Supervisor|      MORTGAGE|   65000.0|
|     6500|       6500|         6500.0| 36 months|   17.97|      234.9|    D|       D1|Quality Field Eng...|      MORTGAGE|  154000.0|
|    22000|      22000|        22000.0| 60 months|   12.98|     500.35|    B|       B5|             Teller |      MORTGAGE|   65000.0|
|     3500|       3500|         3500.0| 36 months|   16.14|      123.3|    C|       C4|respritory therapist|      MORTGAGE|   80000.0|
|     7000|       7000|         7000.0| 36 months|   12.98|      235.8|    B|       B5|    Worship Director|      MORTGAGE|  102500.0|
|    25000|      25000|        25000.0| 60 months|   16.91|     620.11|    C|       C5|          Processor |      MORTGAGE|   23878.0|
|    16000|      16000|        16000.0| 60 months|   20.89|     431.87|    D|       D4|Neonatal Nurse Pr...|      MORTGAGE|  120000.0|
|    13000|      13000|        13000.0| 60 months|   14.47|     305.67|    C|       C2| Stationary Engineer|      MORTGAGE|   75000.0|
+---------+-----------+---------------+----------+--------+-----------+-----+---------+--------------------+--------------+----------+
only showing top 20 rows

In [26]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['funded_amnt', 'funded_amnt_inv'],
    outputCols = ["{}_imputed".format(c) for c in ['funded_amnt', 'funded_amnt_inv']]
    ).setStrategy("mean")

In [27]:
### Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+---------+-----------+---------------+----------+--------+-----------+-----+---------+--------------------+--------------+----------+-------------------+-----------------------+
|loan_amnt|funded_amnt|funded_amnt_inv|      term|int_rate|installment|grade|sub_grade|           emp_title|home_ownership|annual_inc|funded_amnt_imputed|funded_amnt_inv_imputed|
+---------+-----------+---------------+----------+--------+-----------+-----+---------+--------------------+--------------+----------+-------------------+-----------------------+
|     2500|       2500|         2500.0| 36 months|   13.56|      84.92|    C|       C1|                Chef|          RENT|   55000.0|               2500|                 2500.0|
|    30000|      30000|        30000.0| 60 months|   18.94|     777.23|    D|       D2|         Postmaster |      MORTGAGE|   90000.0|              30000|                30000.0|
|     5000|       5000|         5000.0| 36 months|   17.97|     180.69|    D|       D1|      Administrative|      MORTGAGE|   59280.0|               5000|                 5000.0|
|     4000|       4000|         4000.0| 36 months|   18.94|     146.51|    D|       D2|       IT Supervisor|      MORTGAGE|   92000.0|               4000|                 4000.0|
|    30000|      30000|        30000.0| 60 months|   16.14|     731.78|    C|       C4|            Mechanic|      MORTGAGE|   57250.0|              30000|                30000.0|
|     5550|       5550|         5550.0| 36 months|   15.02|     192.45|    C|       C3|        Director COE|      MORTGAGE|  152500.0|               5550|                 5550.0|
|     2000|       2000|         2000.0| 36 months|   17.97|      72.28|    D|       D1|     Account Manager|          RENT|   51000.0|               2000|                 2000.0|
|     6000|       6000|         6000.0| 36 months|   13.56|     203.79|    C|       C1|  Assistant Director|          RENT|   65000.0|               6000|                 6000.0|
|     5000|       5000|         5000.0| 36 months|   17.97|     180.69|    D|       D1| Legal Assistant III|      MORTGAGE|   53580.0|               5000|                 5000.0|
|     6000|       6000|         6000.0| 36 months|   14.47|     206.44|    C|       C2|                null|           OWN|  300000.0|               6000|                 6000.0|
|     5500|       5500|         5500.0| 36 months|   22.35|     211.05|    D|       D5|                null|      MORTGAGE|   50000.0|               5500|                 5500.0|
|    28000|      28000|        28000.0| 60 months|   11.31|     613.13|    B|       B3|          Consultant|      MORTGAGE|   70000.0|              28000|                28000.0|
|    11200|      11200|        11200.0| 36 months|    8.19|     351.95|    A|       A4|Job Coach Supervisor|      MORTGAGE|   65000.0|              11200|                11200.0|
|     6500|       6500|         6500.0| 36 months|   17.97|      234.9|    D|       D1|Quality Field Eng...|      MORTGAGE|  154000.0|               6500|                 6500.0|
|    22000|      22000|        22000.0| 60 months|   12.98|     500.35|    B|       B5|             Teller |      MORTGAGE|   65000.0|              22000|                22000.0|
|     3500|       3500|         3500.0| 36 months|   16.14|      123.3|    C|       C4|respritory therapist|      MORTGAGE|   80000.0|               3500|                 3500.0|
|     7000|       7000|         7000.0| 36 months|   12.98|      235.8|    B|       B5|    Worship Director|      MORTGAGE|  102500.0|               7000|                 7000.0|
|    25000|      25000|        25000.0| 60 months|   16.91|     620.11|    C|       C5|          Processor |      MORTGAGE|   23878.0|              25000|                25000.0|
|    16000|      16000|        16000.0| 60 months|   20.89|     431.87|    D|       D4|Neonatal Nurse Pr...|      MORTGAGE|  120000.0|              16000|                16000.0|
|    13000|      13000|        13000.0| 60 months|   14.47|     305.67|    C|       C2| Stationary Engineer|      MORTGAGE|   75000.0|              13000|                13000.0|
+---------+-----------+---------------+----------+--------+-----------+-----+---------+--------------------+--------------+----------+-------------------+-----------------------+
only showing top 20 rows

### Filter operation
&, |, ==, ~

In [28]:
df_pyspark.filter("loan_amnt <= 15000").select(['grade','sub_grade']).show()

+-----+---------+
|grade|sub_grade|
+-----+---------+
|    C|       C1|
|    D|       D1|
|    D|       D2|
|    C|       C3|
|    D|       D1|
|    C|       C1|
|    D|       D1|
|    C|       C2|
|    D|       D5|
|    A|       A4|
|    D|       D1|
|    C|       C4|
|    B|       B5|
|    C|       C2|
|    C|       C1|
|    C|       C2|
|    E|       E1|
|    D|       D4|
|    C|       C2|
|    E|       E1|
+-----+---------+
only showing top 20 rows

In [29]:
df_pyspark.filter((df_pyspark['funded_amnt']<= 10000) & (df_pyspark['grade'] == 'A')).show()

+---------+-----------+---------------+----------+--------+-----------+-----+---------+--------------------+--------------+----------+
|loan_amnt|funded_amnt|funded_amnt_inv|      term|int_rate|installment|grade|sub_grade|           emp_title|home_ownership|annual_inc|
+---------+-----------+---------------+----------+--------+-----------+-----+---------+--------------------+--------------+----------+
|     6000|       6000|         5975.0| 36 months|    6.46|     183.79|    A|       A1|Substance Abuse C...|      MORTGAGE|   40000.0|
|     2000|       2000|         2000.0| 36 months|    8.19|      62.85|    A|       A4|             Laborer|      MORTGAGE|  100000.0|
|     9000|       9000|         8975.0| 36 months|    6.46|     275.68|    A|       A1|              Driver|      MORTGAGE|   35000.0|
|     1000|       1000|          975.0| 36 months|    8.19|      31.43|    A|       A4|     Project manager|      MORTGAGE|   78000.0|
|     3000|       3000|         3000.0| 36 months|    8.81|      95.14|    A|       A5|                null|          RENT|   71250.0|
|     6000|       6000|         6000.0| 36 months|    6.46|     183.79|    A|       A1|      Senior manager|          RENT|   27000.0|
|     1000|       1000|          975.0| 36 months|    6.46|      30.64|    A|       A1| Service Consultant |      MORTGAGE|   49989.0|
|     5000|       5000|         4975.0| 36 months|    7.02|     154.44|    A|       A2|E-commerce associate|          RENT|   26976.0|
|     6600|       6600|         6600.0| 36 months|    8.19|      207.4|    A|       A4|                null|      MORTGAGE|   95000.0|
|    10000|      10000|        10000.0| 36 months|    7.56|     311.34|    A|       A3|         office work|           OWN|   44000.0|
|     3000|       3000|         2975.0| 36 months|    8.19|      94.28|    A|       A4|  Marketing director|      MORTGAGE|  100000.0|
|     5100|       5100|         5100.0| 36 months|    7.02|     157.52|    A|       A2|Administration Se...|      MORTGAGE|   76000.0|
|     4000|       4000|         4000.0| 36 months|    7.02|     123.55|    A|       A2|         Lead Pastor|           OWN|   60000.0|
|    10000|      10000|        10000.0| 36 months|    8.81|     317.12|    A|       A5|          Supervisor|          RENT|   95000.0|
|     5000|       5000|         5000.0| 36 months|    6.46|     153.16|    A|       A1|Director of Rehab...|      MORTGAGE|  120000.0|
|    10000|      10000|        10000.0| 36 months|    8.81|     317.12|    A|       A5|Research Team Man...|          RENT|   62000.0|
|     6000|       6000|         5975.0| 36 months|    7.02|     185.32|    A|       A2|Mutual Funds Admi...|      MORTGAGE|   65000.0|
|     1300|       1300|         1300.0| 36 months|    7.56|      40.48|    A|       A3|   Language Director|      MORTGAGE|   80000.0|
|     6000|       6000|         6000.0| 36 months|    8.19|     188.55|    A|       A4|           Collector|          RENT|   39000.0|
|     8000|       8000|         8000.0| 36 months|    8.81|      253.7|    A|       A5|           Bartender|      MORTGAGE|   55000.0|
+---------+-----------+---------------+----------+--------+-----------+-----+---------+--------------------+--------------+----------+
only showing top 20 rows

In [30]:
### Group By
df_pyspark.groupBy('grade').sum().show()

+-----+--------------+----------------+--------------------+-----------------+--------------------+--------------------+
|grade|sum(loan_amnt)|sum(funded_amnt)|sum(funded_amnt_inv)|    sum(int_rate)|    sum(installment)|     sum(annual_inc)|
+-----+--------------+----------------+--------------------+-----------------+--------------------+--------------------+
|    F|      17914100|        17914100|           1.79141E7|30646.74999999994|   586729.5499999997|       7.473133698E7|
|    E|     123137250|       123137250|         1.2313265E8| 218245.959999998|   4157440.520000002| 6.510490123199999E8|
|    B|     907196775|       907196775|  9.06702013256254E8|623239.5399999818|2.5229945039999913E7|      4.5494961081E9|
|    D|     425855050|       425855050|   4.2583984951666E8|531894.8300000295|1.2994959859999878E7|     2.02170182342E9|
|    C|     777004325|       777004325|        7.76970225E8|733115.1800000251|2.2449047129999556E7|3.7448423872400007E9|
|    A|     952753500|       952753500|   9.5272169873809E8| 438425.840000016| 2.764048960999991E7|     5.32303855903E9|
|    G|       4099675|         4099675|           4099675.0|7369.109999999997|  142208.52000000002|1.6285452879999999E7|
+-----+--------------+----------------+--------------------+-----------------+--------------------+--------------------+

In [31]:
### Group By Departments which gives maximum
df_pyspark.groupBy('sub_grade').mean().show()

+---------+------------------+------------------+--------------------+------------------+------------------+-----------------+
|sub_grade|    avg(loan_amnt)|  avg(funded_amnt)|avg(funded_amnt_inv)|     avg(int_rate)|  avg(installment)|  avg(annual_inc)|
+---------+------------------+------------------+--------------------+------------------+------------------+-----------------+
|       D5| 16813.51534908992| 16813.51534908992|  16812.870143982615| 22.34555827220852| 521.6467019831558|72727.93948655257|
|       F2|16787.394957983193|16787.394957983193|  16787.394957983193|29.690000000000044| 552.4360504201679|75486.57983193277|
|       B4| 17138.84003810361| 17138.84003810361|  17131.022441287758|11.640470433062513| 467.5460218362988|83994.52840404486|
|       A2|15594.282450223045|15594.282450223045|  15593.702941800675| 6.777449679033881|458.82039712762645|91643.34302905016|
|       E4|15353.110859728507|15353.110859728507|  15352.677224736048|26.294683257918603|504.64551282051224|77644.10736048265|
|       B2|16545.197740112995|16545.197740112995|  16535.541069100393| 10.55698392003515|455.74309604519544| 83538.8156923077|
|       C3| 16072.73555939359| 16072.73555939359|  16072.054308194205|15.017403569372062|461.98786317405717|77689.74000383804|
|       D1| 15580.98111227702| 15580.98111227702|   15580.45645330535|17.970000000000372|462.35711737370843|75925.74413581174|
|       C4| 15788.85866517106| 15788.85866517106|  15788.140773976444|16.139999999999585| 465.3188805384212|76684.27372406058|
|       F1|17926.291079812207|17926.291079812207|  17926.291079812207|28.666666666666657| 572.7815727699532|68877.46319248827|
|       D3|15549.938391128322|15549.938391128322|  15549.344305580003|19.919999999999302|480.89530364372126|76252.64232881533|
|       F5|          18353.75|          18353.75|            18353.75|             30.75| 625.5043999999999|         77048.04|
|       G2| 9970.454545454546| 9970.454545454546|   9970.454545454546|30.839999999999996|367.54836363636366|68213.83636363636|
|       B1|16562.070388349515|16562.070388349515|  16552.873786407767| 10.16487864077731| 455.0812475728159|84091.55362233009|
|       B3|14708.688634086608|14708.688634086608|  14697.269843036847| 11.14373483246168|441.85051096515684|78039.24723032395|
|       E5| 16904.46068548387| 16904.46068548387|  16903.780241935485|27.270000000000298| 553.8342741935475|73670.65750504033|
|       C5|15717.456501831502|15717.456501831502|  15716.766826923076| 16.90750228937778|471.31102220696084|74636.61886561356|
|       G3|20830.208333333332|20830.208333333332|  20830.208333333332|30.889999999999997| 759.0212500000001|         84527.75|
|       A4|16671.317394657504|16671.317394657504|  16670.812592021313| 7.976234312556977| 455.9836142466491|89164.14626796609|
|       F4|15736.764705882353|15736.764705882353|  15736.764705882353| 30.65000000000001| 532.5444537815126|75349.75016806723|
+---------+------------------+------------------+--------------------+------------------+------------------+-----------------+
only showing top 20 rows

In [32]:
df_pyspark.agg({'funded_amnt':'sum'}).show()

+----------------+
|sum(funded_amnt)|
+----------------+
|      3207960675|
+----------------+